In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline , make_pipeline
from sklearn.model_selection import GridSearchCV , cross_val_score
from sklearn.preprocessing import MinMaxScaler

In [6]:
df_model = pd.read_csv("C:/Users/edenl/Desktop/ia_coding/notebooks/employes_are_leaving/Label_encoded.csv")
df_model

,Unnamed: 0,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,0,0,2017,0,3,34,1,0,0,0
1,1,0,2013,2,1,28,0,0,3,1
2,2,0,2014,1,3,38,0,0,2,0
3,3,1,2016,0,3,27,1,0,5,1
4,4,1,2017,2,3,24,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...
4648,4648,0,2013,0,3,26,0,0,4,0
4649,4649,1,2013,2,2,37,1,0,2,1
4650,4650,1,2018,1,3,27,1,0,5,1
4651,4651,0,2012,0,3,30,1,1,2,0
4652,4652,0,2015,0,3,33,1,1,4,0

In [8]:
X = df_model.drop(["LeaveOrNot" ], axis=1)
y = df_model.LeaveOrNot

In [21]:
X_train , X_test , y_train ,  y_test = train_test_split(X , y , random_state=42 , test_size=0.33)

In [22]:
X_train.shape

(3117, 9)

ITERATION

In [32]:
preprocessing = Pipeline(steps=[
   ('Minmax',MinMaxScaler())])

In [33]:
pipeline_logistic = Pipeline(steps = [['preprocess', preprocessing],
                                    ['classifier', LogisticRegression()]])

In [35]:
pipeline_logistic.fit(X_train , y_train)

Pipeline(steps=[('preprocess', Pipeline(steps=[('Minmax', MinMaxScaler())])),
                ['classifier', LogisticRegression()]])

In [39]:
scores = cross_val_score(estimator=pipeline_logistic,
                        X = X_train , 
                        y = y_train , 
                        cv=5, 
                        n_jobs=2)

In [43]:
y_pred_logistic = pipeline_logistic.predict(X_test)
print("accuracy train : %.3f"%pipeline_logistic.score(X_train , y_train))
print("cross_validation : %.3f"%scores.mean())
print("accuracy test : %.3f"%pipeline_logistic.score(X_test , y_test))

accuracy train : 0.705
cross_validation : 0.703
accuracy test : 0.714